<section class="cards">
    <div class="wrapper">
        <div class="upper-cards">
            <h2>Our Products</h2>
           
            <nav>
                <a href="#">All</a>
                <a href="#">Boys Fashion</a>
                <a href="#">Girls Fashion</a>
                <a href="#">Accessories</a>
            </nav>
            <div class="sort">
                <input type="button" value="По убыванию" class="btn orange" onclick="sortCards('DOWN')">
                <input type="button" value="По возрастанию" class="btn orange" onclick="sortCards('UP')">
                <input type="button" value="По умолчанию" class="btn orange" onclick="sortCards('default')">
            </div>
        </div>
        <div class="container">
                <div class="card">
                    <div class="cover">
                        <img src="./assets/img/t-shirt.png" alt="">
                        <div class="circle"></div>
                    </div>
                    <div class="card-content">
                        <h4>Super PUPER Legendary T-Shirt</h4>
                        <p class="price">$1005</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cover">
                        <img src="./assets/img/t-shirt.png" alt="">
                        <div class="circle"></div>
                    </div>
                    <div class="card-content">
                        <h4>Super Mythical ARCANA T-Shirt</h4>
                        <p class="price">$105</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cover">
                        <img src="./assets/img/t-shirt.png" alt="">
                        <div class="circle"></div>
                    </div>
                    <div class="card-content">
                        <h4>Super Mythical EPIC T-Shirt</h4>
                        <p class="price">$255</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cover">
                        <img src="./assets/img/t-shirt.png" alt="">
                        <div class="circle"></div>
                    </div>
                    <div class="card-content">
                        <h4>Super Mythical COM T-Shirt</h4>
                        <p class="price">$355</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cover">
                        <img src="./assets/img/t-shirt.png" alt="">
                        <div class="circle"></div>
                    </div>
                    <div class="card-content">
                        <h4>Super Legendary T-Shirt</h4>
                        <p class="price">$55</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cover">
                        <img src="./assets/img/t-shirt.png" alt="">
                        <div class="circle"></div>
                    </div>
                    <div class="card-content">
                        <h4>Super Legendary COM T-Shirt</h4>
                        <p class="price">$65</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cover">
                        <img src="./assets/img/t-shirt.png" alt="">
                        <div class="circle"></div>
                    </div>
                    <div class="card-content">
                        <h4>Super Legendary RARE T-Shirt</h4>
                        <p class="price">$75</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cover">
                        <img src="./assets/img/t-shirt.png" alt="">
                        <div class="circle"></div>
                    </div>
                    <div class="card-content">
                        <h4>Super Legendary EPIC T-Shirt</h4>
                        <p class="price">$510</p>
                    </div>
                </div>
                <div class="card">
                    <div class="cover">
                        <img src="./assets/img/t-shirt.png" alt="">
                        <div class="circle"></div>
                    </div>
                    <div class="card-content">
                        <h4>Super Legendary MYTH T-Shirt</h4>
                        <p class="price">$505</p>
                    </div>
                </div>
        </div>
        <div class="button-under">
            <input type="button" value="View all products" class="btn orange">
        </div>
    </div>
</section>